*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    min-height: 100vh;
    margin: 0 auto; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    background: url('assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: black;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
}
a{
    text-decoration: none;
    color: white;
}
.container {
    max-width: 1440px;
    margin: 20px auto;
    padding: 0 20px;
}
.header-container{
    display: flex;
}
nav{
    margin-left: auto;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-link{
    padding: 18px;
    line-height: 50px;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.link{
    padding: 0;
    font-weight: 700;
}
.nav-link:hover{
    color: #BDAE82;
}
.hero{
    max-width: 500px;
    margin: 147px auto 250px 60px;
}
.hero-title{
    font-size: 60px;
    line-height: 120px;
    height: 130px;
}
.hero-text{
    margin: 0 30px 25px 0;
}
.btn{
    background-color: #BDAE82;
    color: black;
    width: 220px;
    height: 55px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
}
.btn:hover{
    color: white;
}
.logo{
    background-image: url(assets/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
}
.logo:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.icon { 
    height: 50px;
    margin: 0 auto 10px;
}
.skills{
    margin-top: 410px;
}
.skill-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
}
.skill-item{
    max-width: 320px;
    max-height: 240px;
    text-align: center;
    padding: 10px 30px;
}
.skill-item__padding{
    padding: 10px;
}
.skill-item__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    margin: 27px;
}
.skill-item__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0px;
    margin: -2px;
}
.title{
    width: 50%;
    text-align: center;
    margin: 50px auto 30px;
    overflow-x: hidden;
    position: relative;
}
h2{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    margin: 0 -6px;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #BDAE82;
}
.title:before{
    margin-left: -100%;
    left: -24px;
}
.title::after{
    margin-right: -100%;
    left: -24px;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn1{
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;
    cursor: pointer;
    background-color: black;
    color: #BDAE82;
    margin: 10px 2px 44px 3px;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
}
.btn1:hover{
    background-color: #BDAE82;
    color: black;
}
.btn-hover{
    background-color: #BDAE82;
    color: black;
}
.photo{
    max-width: 1440px;
    margin: 16px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1.7rem;
}
.photo-item{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: -11px;
}
.video-player{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-img{
    display: block;
    max-width: 1400px;
    margin: 9px auto;
    width: 100%;
}
.btn2{
    background-color: transparent;
    position: absolute;
    border: 0;
}
.btn2:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.price{
    padding: 21px;
}
.price-items{
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: 40px -34px;
}
.price-item{
    text-align: center;
    border: 3px solid #BDAE82;
    max-width: 450px;
    width: 100%;
    padding: 41px;
}
.price-item__title{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    color: white;
}
.price-sum{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color:#BDAE82;
    padding: 20px;
}
.price-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    max-width: 364px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.contacts{
    max-height: 700px;
    background: url(assets/img/contacts.jpg);
    background-size: auto 700px;
    background-position: center center;
    max-width: 1440px;
    height: 700px;
    margin: 38px auto 24px;
    position: relative;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px auto;
}
.footer-data{
    display: flex;
    justify-content: space-around;
    max-width: 182px;
    width: 100%;
    margin: 1px -8px;
}
.footer-text{
    margin-left: 93px;
}
.footer-icon{
    display: flex;
    justify-content: space-around;
    max-width: 188px;
    width: 100%;
    list-style-type: none;
    margin: 3px 66px;
}
.footer-icon__img:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
    padding: 0 20px;
}
.form-item{
    background: transparent;
    border: 3px solid #BDAE82;
    max-width: 450px;
    max-height: 50px;
    width: 100%;
    height: 50px;
    margin: 20px 13px 0 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}
.form-item2{
    max-height: 100px;
    height: 100px;
}
.contacts-wrap{
    position: absolute;
    max-width: 450px;
    width: 100%;
    height: 80px;
    left: calc(100% - 473px);
    top: 30px;
    padding: 10px;
    
}
.btn-font{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    margin: 16px 13px;
}